.container {
  background-color: #ffffff;
  height: 40%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: -20rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: repeat(3, 110px);
  }
  &__img {
    display: block;
    height: 100%;
    width: 100%;
    grid-area: 1/1/4/2;
    object-position: 30%;
    object-fit: cover;
    position: relative;
    z-index: 10;
  }
  &--1,
  &--2,
  &--3 {
    margin-left: 2rem;
  }
  &--1 {
    align-self: self-end;
    font-size: 4rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
  }
  &--2 {
    align-self: center;
    font-size: 4rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    transform: translateY(-3rem);
  }
  &--3 {
    align-self: self-start;
    font-size: 4rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateY(-4rem);
    background-color: $color-react;
    margin-left: -6rem;
    grid-area: 3/1/4/-1;
    width: calc(100% + 5rem);
    padding-left: 423px;
    position: relative;
    z-index: 1;
  }
}

.what-i-do {
  //   padding: 0 20rem;
  margin-top: -23rem;
  height: 50vh;
  width: 100%;
  box-sizing: border-box;
  background: url(/public/laptop.png);
  background-color: #303030;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__head {
    font-size: 5rem;
    text-align: center;
    color: $color-react;
    font-family: "Source Sans 3", sans-serif;
  }
}
