.container {
  margin: 0 20rem;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  &__container {
    display: flex;
    gap: 5rem;
    margin-top: -30rem;
  }
  &__left {
    height: 300px;
    width: 400px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      display: inline-block;
      object-fit: cover;
      object-position: bottom;
      z-index: 2;
      position: absolute;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    position: relative;
    &-1 {
      font-size: 7.5rem;
      font-family: "Source Sans 3", sans-serif;
      font-style: normal;
      font-weight: 200;
    }
    &-2 {
      font-size: 7.5rem;
      font-family: "Source Sans 3", san-serif;
      font-style: bold;
      font-weight: 500;
    }
    &-3 {
      width: calc(100% + 36%);
      font-size: 3.7rem;
      font-family: "Source Sans 3", san-serif;
      font-style: normal;
      font-weight: 200;
      background-color: $color-react;
      letter-spacing: 0.5rem;
      margin-left: -60%;
      margin-right: 50%;
      padding-left: 61%;
      z-index: 1;
      position: absolute;
    }
  }
}
